<!DOCTYPE html>
<html>

<head>
    <title>One Trick Pony</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/app.css">
    <!-- jQuery CDN -->
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <!-- JS file -->
    <script type="text/javascript" src="/jquery.easy-autocomplete.min.js"></script> 
    <!-- CSS file -->
    <link rel="stylesheet" href="/easy-autocomplete.css"> 
</head>

<body>