    <div class="container">
      <form action="/searchResults" method="GET"> 
        <input id="autocomplete" type="text" name="search" autocomplete="off" autofocus="on" placeholder="i.e. ethereum"/>
          <script>
            var options = {
            	data: ["Bitcoin", "Ethereum", "Ripple", "Litecoin", "Cardano", "NEO", "Stellar", "Dash", "IOTA", "Monero", "NEM", "Ethereum Classic", "Lisk", "Qtum", "Zcash", "Verge", "Bytecoin", "Steem", "Nano", "Stratis", "Siacoin", "Waves", "Dogecoin", "BitShares", "ZClassic", "Decred", "Ardor", "Hshare", "Electroneum", "Komodo", "Ark", "DigiByte", "Syscoin", "Byteball Bytes", "Cryptonex", "MonaCoin", "PIVX", "Bitcore", "GXShares", "Factom", "ZCoin", "Nxt", "Particl", "Emercoin", "Neblio", "ReddCoin", "Blocknet", "Vertcoin", "SmartCash", "GameCredits", "Experience Po...", "DigitalNote", "Skycoin", "BitcoinDark", "Achain", "BridgeCoin", "Nexus", "ZenCash", "NAV Coin", "Ubiq", "HTMLCOIN", "Peercoin", "XTRABYTES", "Asch", "Einsteinium", "Pura", "Counterparty", "Metaverse ETP", "PACcoin", "Viacoin", "Burst", "BitBay", "Aeon", "CloakCoin", "MinexCoin", "ECC", "Rise", "Gulden", "LBRY Credits", "Crown", "HempCoin", "ION", "Lykke", "SaluS", "Groestlcoin", "Feathercoin", "Steem Dollars", "DeepOnion", "Mooncoin", "ColossusCoinXT", "Namecoin", "DECENT", "Dimecoin", "SIBCoin", "I/O Coin", "PotCoin", "Diamond", "WhiteCoin"],
            	list: {
		            maxNumberOfElements: 3,
		            match: {
			          enabled: true
		          }
	           }
              
            };
            $("#autocomplete").easyAutocomplete(options);
        </script>
      </form>
    </div>