<% include partials/header %>

<h1>What digital asset would youy like to see?

    <div class="container">
      <form action="/searchResults" method="GET"> 
        <input type="text" name="search" autocomplete="off" autofocus="on"/>
      </form>
    </div>
</h1>

<% include partials/footer %>
