<% include partials/header %>

<h1>Add '/coinname' to the end of the url <br> or <a style="color:black;"href="https://onetrickponyio.herokuapp.com/search">search</a>.</h1>

<% include partials/footer %>
