<% include partials/header %>

<h1>What coin would you like to see?

<form action="/searchResults" method="GET">
    <input type="text" placeholder="(ie. dogecoin)" name="search">
    <input type="submit">
</form>
</h1>

<% include partials/footer %>
