<% include partials/header %>

<% var message = "It has gone "; %>
<% if(trend < 0){ %>
<%    message += "down "; %>
<% }else{ %>
<%   message+= "up "; %>
<% } %>
<% message+=trend.substr(1) + "% in the last 7 days"; %>

<% var topMessage = "The price of " + coin + " is $" + price + "."; %>

<h1><%=topMessage%><br><%=message%>.</h1>

<form action="/searchResults" method="GET">
    <input type="text" placeholder="(ie. dogecoin)" name="search">
    <input type="submit">
</form>

<% include partials/footer %>


