<% include partials/header %>

<% var message = "It has gone "; %>
<% if(trend < 0){ %>
<%    message += "down "; %>
<% }else{ %>
<%   message+= "up "; %>
<% } %>
<% message+=trend.substr(1) + "% in the last 7 days"; %>

<% var topMessage = "The price of " + coin + " is $" + price + "."; %>

<h1><%=topMessage%><br><%=message%>.
    <br>
<% include partials/search %>
</h1>

<% include partials/footer %>


