body {
    font-family: 'Lato';
}

h1 {
    text-align: center;
    padding-top: 15%;
    font-size: 45px;
}

input {
  position: relative;
  margin-top: 10px;
  height: 100px;
  width: 400px;
  font-size: 65px;
  text-align: left;
  color: #000;
  border: none;
  opacity: 1;
  font-weight: 100;
}

::-webkit-input-placeholder {
  text-align: center;
}

/* Add in the focus to see bar size and where it is */
input:focus,
input:hover,
select:focus{
  outline: none;
  border: none;
}

form {
    padding-top: 15px;
    padding-bottom: 15px;
}