.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

.row:before,
.row:after {
    content:"";
    display:table;
}
.row:after {
    clear:both;
}

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}

.col:first-child { margin-left: 0; }

@media only screen and (max-width: 480px) {
	.col {
        margin: 0;
	}
}

.half {
	width: 49.2%;
}

@media only screen and (max-width: 480px) {
	.half {
		width: 100%;
	}
}

.third {
	width: 32.26%;
}

@media only screen and (max-width: 480px) {
	.third {
		width: 100%;
	}
}
