<style type="text/css">
    .hero-text-box {
    position: relative;
    float: left;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
</style>

<div class="hero-text-box">
  <h1><%- hero.header %></h1>
  <p style="text-transform:uppercase"><%- hero.caption %></p>
</div>